// MUI Autocomplete custom styling
.MuiAutocomplete-root {
  width: 45rem;
  
  .MuiOutlinedInput-root {
    border-radius: 10rem;
    background-color: #fff;
    
    &:hover .MuiOutlinedInput-notchedOutline {
      border-color: #3e334e;
    }
    
    &.Mui-focused .MuiOutlinedInput-notchedOutline {
      border-color: var(--second-color);
    }
    
    .MuiOutlinedInput-input {
      font-size: 1.8rem;
      padding: 1rem 1.4rem;
    }
  }
  
  .MuiOutlinedInput-notchedOutline {
    border-color: #adadad;
  }
}

@keyframes spinner {
  from {
    transform: translateY(-50%) rotate(0);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}

.searchResult {
  text-align: center;
  padding-top: 2rem;

  .search-popular {
    text-align: left;
    padding: 0 2rem;
    .search-popular-title {
      font-size: 2rem;
      font-weight: 700;
    }
    .search-popular-list {
      display: flex;
      flex-wrap: wrap;
      .search-popular-item {
        font-size: var(--text-fontSize);
        padding: 6px 8px;
        background-color: #f5f5f5;
        border-radius: 3px;
        margin-right: 6px;
        margin-bottom: 8px;

        &:hover {
          cursor: pointer;
          color: var(--second-color);
          background-color: #ebeaea;
        }
      }
    }
  }

  .search-more {
    font-size: var(--text-fontSize);
    padding: 0 2rem 1.6rem 2rem;
    font-weight: 600;

    &:hover {
      cursor: pointer;
      color: var(--second-color);
    }
  }

  .searchProduct {
    display: flex;
    align-items: center;
    height: 8rem;
    padding: 1rem 2rem;

    &:hover {
      background-color: #f0f0f0;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      height: 6rem;
      width: 100%;
      margin-left: 2rem;

      .searchProductPrice {
        color: red;
      }
    }
  }
}

.dropdownSearch {
  width: 45rem;
  overflow: hidden;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
  border-radius: 1rem;
}
